* {
  box-sizing: border-box;
}

html {
  color: #444;
  font-family: "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
  font-size: 16px;
}

body {
  margin: 0 auto;
  padding: 1rem;
  width: 60%;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}
