* {
  box-sizing: border-box;
}

html {
  color: #444;
  font-family: "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;
  font-size: 16px;
}

body {
  margin: 0 auto;
  padding: 1rem;
  width: 60%;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}

h1 {
  text-align: center;
}

.count {
  background-color: #888;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 60%;
  font-weight: bold;
  height: 2rem;
  margin-left: 1rem;
  padding: 5px;
  position: relative;
  text-align: center;
  top: -3px;
  vertical-align: middle;
  width: 2rem;
}

input[type="text"] {
  font-size: 1.5rem;
  height: 4rem;
  padding: 0.5rem;
  width: 100%;
}

.valid {
  background-color: #dfd;
}

.invalid {
  background-color: #fdd;
}

.alert {
  color: #f00;
  margin: 0.5rem 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.alert.show {
  max-height: 1.2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

li:hover {
  background-color: #f2f9fe;
}

label {
  cursor: pointer;
  display: inline-block;
  flex: 80%;
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.done {
  color: #ddd;
  text-decoration: line-through;
}

input[type="checkbox"] {
  flex: 10%;
  transform: scale(2);
}

.delete {
  color: #f44;
  cursor: pointer;
  flex: 10%;
  font-size: 2rem;
  text-align: center;
}

.delete:hover {
  transform: scale(1.3);
}
