<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="TODO List">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" sizes="64x64" href="icons/todo_icon.png">
    <link rel="stylesheet" href="<%= stylePath %>">
    <title>TODO List</title>
  </head>
  <body>
    <main><%- html %></main>
    <script src="<%= scriptPath %>"></script>
  </body>
</html>
