<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODO List</title>
    <link rel="stylesheet" href="<%= stylePath %>">
  </head>
  <body>
    <h1>TODO List</h1>
    <main><%- html %></main>
    <script src="<%= scriptPath %>"></script>
  </body>
</html>
