.heading {
  text-align: center;
}

.count {
  background-color: #888;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 60%;
  font-weight: bold;
  height: 2rem;
  margin-left: 1rem;
  padding: 5px;
  position: relative;
  text-align: center;
  top: -3px;
  vertical-align: middle;
  width: 2rem;
}
